
QComboBox {
    /* 设置字体属性 */
    font-family: "Microsoft YaHei";
    font-size: 14px;
    color: #000000;
    font-style: normal;
    font-weight: bold;

    /* 文字位置 */
    padding-left: 6px;
    padding-top: 3px;

    /* 边界设置 */
    border-width: 1px;
    border-style: solid;
    border-color: aqua;
    /*border: 1px solid aqua;*/

    /* 圆角设置 */
    border-radius: 8px;
    /*border-top-left-radius: 8px;*/
    /*border-top-right-radius: 8px;*/
    /*border-bottom-left-radius: 8px;*/
    /*border-bottom-right-radius: 8px;*/

    /* 背景设置 */
    background-color: antiquewhite;
    background-image: url("./images/bilibili.png");
    background-repeat: no-repeat;
    background-position: center center;

    /*image: url("./images/dice.png");*/
}

QComboBox::drop-down {
    width:21px;
    height:20px;

    border: none;

    padding-top: 6px;
    padding-right: 4px;

    image: url("./images/import.png");
}

QComboBox::down-arrow {
    border: none;

    width: 21px;
    height: 20px;

    right: 50px;
    top: 0px;

    /*background-image: url("./images/import.png");*/
}

QComboBox:QAbstractItemView {
    font-family: "Microsoft YaHei";
    font-size: 16px;
    color: red;
    font-style: italic;
    font-weight: bold;

    min-height: 30px;

    background-color: red;

    outline: none;
}

QComboBox:QAbstractItemView::item {
    color: #BDC8E2;
    padding-left: 25px;
    background-color: red;
    min-height: 30px;
    border: 1px solid #212735;
}

QComboBox:QAbstractItemView::item:hover {
    color: #0DA5EF;
    background-color: #212735;
}

QComboBox:QAbstractItemView::item:selected {
    color: #0DA5EF;
    background-color: #212735;
}